html {
  height: 100%;
}

body {
  height: 100%;
}
.topnav {
position: relative;
overflow: hidden;
background-color:white;
margin-left: 60px;
margin-right: 60px;
margin-top: 60px;
}

.topnav a {
float: left;
color: #333;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: white;
color: 333;
text-decoration: underline;
}



.topnav-right {
float: right;
margin-right: 20px;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
.topnav a, .topnav-right {
  float: none;
  display: block;
}

.topnav-centered a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}
}
.animation-box {
  width: 100%;
  height: 50.5rem;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: dark grey;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
  color: darkgrey;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  color: darkgrey;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: darkgrey;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: darkgrey;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

.parallax { 
 
  background-image: url("/home/c4q/myNewPortfolio/images/pexels-photo-700974.jpg");
  
  height: 100%; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#box-container {
  height: 100%;
  display: flex;
  
}

  #box-1 {
    background-color: white;
    width: 100%;
    height: 100%;
    padding:10%;
  
  }
.about  {
   font-size: 30px;
   font-family: Nunito;

} 

.parallax2 {
   
  height: 100%;
  background-image: url('/home/c4q/myNewPortfolio/images/Queens.jpg');
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.parallax3 {
  The image used 
  height: 100%;
  background-image: url('../images/subway.jpg');

  Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */